body {
  padding: 20px;
  padding-top: min(50px, 5vw);
  padding-bottom: 50px;
  max-width: 1000px;
  margin: auto;
}

thead {
  font-weight: bold;
}

tbody tr:nth-of-type(odd) {
  background: #eee;
}
